{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<title>Files | Edu_Source</title>
<link rel='stylesheet' href='{% static "/css/files.css" %}'>
{% include "base.html" %}
<div id="sections">


    {% for sez in sub_groups %}
    <section>
        <a href="{{sez.file.url}}"  download style="text-decoration:none;"> <h2>{{sez.heading}}</h2> </a>
        <p>{{sez.description}}</p>
    </section>
    {% endfor %}



    <section id="new">
    <a href="{% url "file_upload" groups.id %}">   <i class="fa-chisel fa-regular fa-plus"></i> </a>
       
    </section>
   
</div>
    
</body>

</html>